<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<header class="header clearfix">
    <div class="container">
    	<nav>
        	<ul class="nav nav-pills pull-right">
            	<li role="presentation"><a href="#">Login</a></li>
          	</ul>
        </nav>
       	
       	<h3 class="text-muted">ANTI / LABEL</h3>
    </div>

    <div class="container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
    <% end %>
    </div>

    
</header>

<%= yield %>

</body>
</html>
